@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|VT323&display=swap");

@font-face {
  font-family: 'pokemon-font';
  src: url('./assets/fonts/pokemon-font.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/pokemon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/pokemon-font.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/pokemon-font.ttf')  format('truetype') /* Safari, Android, iOS */
  /* There is no SVG version of this font due to support being dropped in SVG 2 */
}

* {
  font-family: 'pokemon-font', 'Press Start 2P', monospace;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 10px;
  font-family: 'pokemon-font', 'Press Start 2P', monospace;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*/